html, body{
  padding:0px; 
  margin:0px;
  width:100%;
  height:100%;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
  background-color:#efefef;
}

.modal {
  text-align: center;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

::-webkit-scrollbar {
    width: 5px;
    height:5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #999999;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: #444444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}



.input-label{
  font-size:12px; 
  margin-top:0px;
}

.input-text{
  background-color:#ffffff; 
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1); 
  padding:5px; 
  width:100%; 
  font-size:16px; 
  border:none; 
  border-bottom:solid 1px #777777;
  margin-bottom:10px;
}

.textarea-text{
  background-color:#ffffff; 
  height:100px; 
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1); 
  padding:5px; 
  width:100%; 
  font-size:14px; 
  border:none; 
  border-bottom:solid 1px #777777;
}

.forms-button{
  padding:10px; 
  border-radius:20px; 
  max-width:150px; 
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1); 
  font-size:14px; 
  background-color:#444444; 
  color:#ffffff; 
  cursor:pointer; 
  margin-top:0px; 
  text-align:center;
}

.forms-button:hover{
  background-color:#777777; 
  color:#ffffff; 
}




.paginationButton{
  cursor:pointer; 
  width:40px; 
  margin:5px; 
  height:40px; 
  min-width:40px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border:solid 1px #777777; 
  color:#444444;
}

.paginationButton:hover{
  background-color:#eeeeee;
}

.paginationButton.active{
    cursor:pointer; 
    width:40px; 
    margin:5px; 
    height:40px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border:solid 1px #ff5050; 
    background-color:#ff5050;  
    color:#ffffff;
  }


  .statusButton.active{
    display:inline; 
    background-color:#ff5050; 
    color:#ffffff; 
    text-align: center;
     padding:5px; 
     cursor:pointer; 
     padding-left:20px; 
     padding-right:20px; 
     font-size:13px;
  }

    .statusButton{
      display:inline;
      background-color:#777777; 
      color:#ffffff; 
      text-align: center; 
      cursor:pointer; 
      padding:5px; 
      padding-left:20px; 
      padding-right:20px; 
      font-size:13px;
    }